@tailwind base;
@tailwind components;
@tailwind utilities;

.text-border-black {
  --text-border-width: 2px
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: var(--text-border-width);
  -webkit-text-stroke-color: #000;
}