@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply bg-cloud dark:bg-night
  }
}

.grain-background {
  background-image: url("./noise.avif");
  opacity: 0.5;
  mix-blend-mode: overlay;
}